@import url(http://fonts.googleapis.com/css?family=Signika+Negative:300,400,600,700&subset=latin,latin-ext);
@import url(https://fonts.googleapis.com/css?family=Bree+Serif&subset=latin,latin-ext);
@font-face {
    font-family: 'AleoBold';
    src: url('./czcionki/aleo/aleo-bold.eot');
    src: url('./czcionki/aleo/aleo-bold.eot') format('embedded-opentype'),
         url('./czcionki/aleo/aleo-bold.woff') format('woff'),
         url('./czcionki/aleo/aleo-bold.ttf') format('truetype'),
         url('./czcionki/aleo/aleo-bold.svg#AleoBold') format('svg');
}
body{
	margin: 0;
	padding: 0;
	font-family: arial;
}
#tlo{
	backround: url(./backround.jfif)
}

ul{
	margin: 0;
	padding: 0;
}

.clear{
	clear: both;
}

.wysrodkowanie{
	width: 900px;
	margin: 0 auto;
}

#tlo_gora_tlo{
	background: url("./i/tlo_gora.jpg") repeat-x;
}

#tlo_gora_tlo #gora{
	height: 102px;
}

#tlo_gora #gora #lewo.obrazek{
	background: url("./i/logo_diax.png") no-repeat 25px 25px transparent;
	padding: 10px
}

#lewo{
    float: left;
    height: 80px;
    margin: 13px 0 0;
    padding: 0;
    position: relative;
    text-align: right;
    width: 400px;
}
#lewo.logo .napis_maly{
    font-size: 12px;
    left: 80px;
    position: absolute;
    text-align: left;
    top: 48px;
    font-family: arial;
}

#lewo.logo .napis_duzy{
    color: #208b7c;
    font-family: AleoBold;
    font-size: 34px;
    font-weight: bold;
    left: 80px;
    position: absolute;
    text-align: left;
    top: 10px;
}
#lewo.logo .ikona{
    position: absolute;
    top:0;
    left:0;
    height:80px;
    width:80px;
    background-repeat: no-repeat;
    background-position: center center;
}
#lewo.logo.wlasne{
    background-repeat:no-repeat;
    background-position: center left;
}
#prawo{
	float: right;
	text-align: right;
	padding: 22px 127px 0 0;
}

#prawo .ip{
	font-size: 17.7px;
	color: #696969;
}

#prawo #status{
	color: #696969;
    font-size: 12px;
    padding-top: 4px;
}
#prawo #status .online {
    color: #4fa911;
    display: inline;
    font-weight: bold;
}
#prawo #status .online i {
    background: url("./i/status_on.png") no-repeat scroll 0 center transparent;
    height: 22px;
    margin-left: 2px;
    padding: 10px 17px 10px 0;
    width: 8px;
}
#prawo #status .offline {
    color: #ed0000;
    display: inline;
    font-weight: bold;
}
#prawo #status .offline i {
    background: url("./i/status_off.png") no-repeat scroll 0 center transparent;
    height: 22px;
    margin-left: 2px;
    padding: 10px 17px 10px 0;
    width: 8px;
}

.gracze_online{
	background: url("./i/status_glowy.png") no-repeat 0 center transparent;
	padding: 8px 0 7px 27px;
	font-size: 12px;
	color: #696969;
    display: inline-block;
    margin:0px 0 0 0;
}


#tlo{
	background: url("./i/tlo.jpg") repeat;
	width: 100%;
	margin-top:0;
	position: static;
	padding-bottom: 17px;
    overflow: auto;

}

#menu_tlo{
	background: url("./i/belka.jpg") repeat-x;
	height: 46px;
	width: 100%;
}

#menu{
	height: 46px;
	position: relative;
	border-left: 1px solid rgba(45, 178, 176, 0.6);
}

#menu ul{
	padding: 0;
	margin: 0;
}

#menu ul li{
	display: inline;
	float: left;
	position:relative;
}

#menu ul li a{
	padding: 0 14px;
	display: block;
	color: #fff;
	height: 46px; 
	font-size: 15px;
	text-decoration: none;
	line-height: 46px;
	right: 12px;
	border-right: 1px solid #006b69;
	-moz-box-shadow: -1px 0px 1px rgba(45, 178, 176, 0.6) inset;
	-webkit-box-shadow: -1px 0px 1px rgba(45, 178, 176, 0.6) inset;
	box-shadow: -1px 0px 1px rgba(45, 178, 176, 0.6) inset;
	text-shadow: 2px 2px 1px rgba(50, 50, 50, 1);
	text-transform: uppercase;
	font-weight: bold;
}

#menu li:first-of-type a{
	border-left: 1px solid #006b69;
}
.ikona.dotacje{
	padding-left: 40px;
}

.ikona{
	position: relative;
}

#menu ul li i{
	background: url("./i/menu_dotacje.png") no-repeat;
	position: absolute;
	width: 36px;
	height: 27px;
	display: block;
	left: 10px;
	top: 10px;
}

#menu ul li:hover, #menu ul li.aktywny{
	background: url("./i/belka_podswietlana.jpg") repeat;
	color: #fff;
}

#menu ul li a:hover, #menu ul li.aktywny a{
	-moz-box-shadow: inset -1px 0px 1px #836500, inset 1px 0px -1px #836500;
	-webkit-box-shadow: inset -1px 0px 1px #836500, inset 1px 0px -1px #836500;
	box-shadow: inset -1px 0px 1px #836500, inset 1px 0px -1px #836500;
	text-shadow: 2px 2px 1px rgba(114, 86, 0, 1);
}

#steve{
	background: url("./i/menu_steve.png") no-repeat;
	width: 108px;
	height: 94px;
	position: absolute;
	top: -42px;
	right: 0;
}

#stopka{
	height: 75px;
	margin-bottom: 0;
}

#stopka_tlo{
	background: url("./i/tlo_stopka.jpg") repeat-x;
}

#host_logo{
	background: url("./i/stopka_logo.png") no-repeat;
	width: 212px;
	height: 33px;
	position: absolute;
	margin-top: 24px;
	margin-left: 9px;
	float: left;
}

#host{
	padding: 21px 2px 0 0;
	float: right;
	color: #fff;
}

#okruchy{
	padding: 24px 0 24px 1px;
	font-size: 15px;
	text-shadow: 1px 0px 0px #3a621f;
}

#okruchy li{
	display: inline;
}

#okruchy li a{
	text-decoration: none;
	color: #fff;
}

#okruchy li a:hover{
	color: #f1c02a;
	text-decoration: underline;
}

#okruchy li:after{
	content: " Âť";
	color: #fff;
}

#okruchy li:last-of-type:after, #okruchy li:first-of-type:after{
	content: ""
}

.ikona.okruchy{
	background: url("./i/okruchy_kompas.png") no-repeat;
	padding-left:30px;
	width: 23px;
	height: 18px;
}

#obszar #lewa{
	float: left;
	width: 650px;
	-webkit-box-shadow: 3px 4px 7px 0px rgba(50, 50, 50, 1);
	-moz-box-shadow:    3px 4px 7px 0px rgba(50, 50, 50, 1);
	box-shadow:         3px 4px 7px 0px rgba(50, 50, 50, 1);
	overflow: hidden;
}

#obszar #prawa{
	float: right;
	width: 228px;
}

#lewa #tytul{
	background: url("./i/belka.jpg") repeat-x;
	padding: 13px;
	padding-left: 58px;
	color: #fff;
	text-transform: uppercase;
	-webkit-box-shadow: 0px -1px 7px 0px rgba(50, 50, 50, 1);
	-moz-box-shadow:    0px -1px 7px 0px rgba(50, 50, 50, 1);
	box-shadow:         0px -1px 7px 0px rgba(50, 50, 50, 1);
	position: relative;
	text-shadow: 2px 2px 1px rgba(50, 50, 50, 1);
	font-weight: bold;
}

#tlo #obszar #lewa #tytul i{
	position: absolute;
    -webkit-background-size: 30px auto;
    -moz-background-size: 30px auto;
    -o-background-size: 30px auto;
    background-size: 30px auto;
    background-repeat: no-repeat;
    width:35px;
    height:35px;
    left:15px;
    top:7px;
    background-position: center center;
}

#tresc{
	background: #fff;
	color: #000;
	padding: 35px 15px;
}
#tresc .brak_wpisow{
    color: #9e9e9e;
    font-size: 12px;
    text-align: left;
}
#tresc.podglad_newsa{
    position: relative;
    font-size:15px;
}
#tresc.podglad_newsa .data_dodania{
    color: #bfbfbf;
    font-size: 12px;
    position: absolute;
    right: 15px;
    top: 15px;
}
#tresc.podglad_newsa .tresc_wiadomosci{
    word-break: normal;
}
#tresc.podglad_newsa .tresc_wiadomosci ul{
    padding: 0 0 0 15px;
}
#tresc.podglad_newsa .tresc_wiadomosci ol{
    padding: 0 0 0 15px;
}
#tresc.podglad_newsa .tresc_wiadomosci a{
    color: #8aa734;
}
#tresc.podglad_newsa .tresc_wiadomosci a:hover{
    text-decoration: underline;
    color: #ecb402;
}
#strony{
    text-align: center;
    font-size: 15px;
}
#strony a.aktywny{
    font-weight: bold;
    color:#3cdeee;
    text-decoration: underline;    
}
#strony a{
	color: #232323;
    text-decoration: none;
    margin:5px;
}
#strony a:hover{
	color: #3cdeee;
	text-decoration: underline;
}
#obszar #prawa .box{
	margin: 0 0 20px 0;
}

#obszar #prawa .box.mclista{
	background: url("./i/mclista.png") no-repeat;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #ffc000;
	height: 149px;
	-webkit-box-shadow: 2px 0px 5px 0px rgba(1, 1, 1, 0.7);
	-moz-box-shadow:    2px 0px 5px 0px rgba(1, 1, 1, 0.7);
	box-shadow:         2px 0px 5px 0px rgba(1, 1, 1, 0.7);
}

#obszar #prawa .box.mclista .tresc{
	padding: 10px;
}

#obszar #prawa .box.mclista .tresc .lubisz_nasz_serwer{
	background: url("./i/mclista_zbroja.png") no-repeat 0 center transparent;
	color: #fff;
	line-height: 23px;
	font-size: 17px;
	text-shadow: 2px 2px 1px rgba(96, 93, 0, 1);
	padding-left: 43px;
	font-weight: bold;
	white-space:nowrap;
}
#obszar #prawa .box.mclista .tresc .pozycjonowanie_diax{
    text-align: center;
    margin:9px 0 15px 0;
}

#obszar #prawa .box.mclista .tresc .diax{
    background: url("./i/mclista_diax_duzy.png") no-repeat scroll 0 9px transparent;
    color: #fff;
    display: inline;
    font-size: 29px;
    font-weight: bold;
    line-height: 1;
    padding: 5px 0 0 29px;
    text-shadow: 2px 2px 1px rgba(96, 93, 0, 1);
}

#obszar #prawa .box.mclista .tresc .podoba_mi_sie{
	background: url("./i/diax_plus_jeden_duzy.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    font-size: 14px;
    height: 22px;
    margin:10px auto 0;
    padding: 0;
    width: 143px;
    display: block;
}
#obszar #prawa .box.mclista .tresc .podoba_mi_sie:hover{
    background: url("./i/diax_plus_jeden_duzy.png") no-repeat scroll 0 -22px rgba(0, 0, 0, 0);
}
#obszar #prawa .box.mclista .tresc a{
	text-decoration: none;
	color:#000;
}

#obszar #prawa .box.standardowy .tytul{
	background: url("./i/belka.jpg") repeat-x;
	text-shadow: 2px 2px 1px rgba(50, 50, 50, 1);
	text-transform: uppercase;
	color: #fff;
	font-size: 15px;
	padding: 13px;
	padding-left: 20px;
	-webkit-box-shadow: 0px -1px 7px 0px rgba(50, 50, 50, 1);
	-moz-box-shadow:    0px -1px 7px 0px rgba(50, 50, 50, 1);
	box-shadow:         0px -1px 7px 0px rgba(50, 50, 50, 1);
	position: relative;
	font-weight: bold;
}

#obszar #prawa .box.standardowy .tresc{
	background: #fff;
	color: #000;
	-webkit-box-shadow: 0px -1px 7px 0px rgba(50, 50, 50, 1);
	-moz-box-shadow:    0px -1px 7px 0px rgba(50, 50, 50, 1);
	box-shadow:         0px -1px 7px 0px rgba(50, 50, 50, 1);
}

#obszar #prawa .box.standardowy .tresc .gracze{
	line-height: 22px;
	color: #218b7c;
	font-size: 12px;
	list-style-type: none;
	padding: 8px 0 3px 11px;
	max-height: 324px;
	overflow: auto;
}

#obszar #prawa .box.standardowy .tresc .gracze li{
    height: 20px;
    position: relative;
    margin:0 0 3px 0;
}
#obszar #prawa .box.standardowy .tresc .gracze li .obrazek{
    width:20px;
    height:20px;
    position: absolute;
    top:0;
    left:0;
    background:url('./i/minecraft_standardowa_glowa.jpg') no-repeat center center transparent;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#obszar #prawa .box.standardowy .tresc .gracze li .obrazek .obrazek_premium{
    width:20px;
    height:20px;
    background-color:#fff;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#obszar #prawa .box.standardowy .tresc .gracze li .nick{
    position: absolute;
    top:2px;
    left:25px;
    font-size:12px;
    color:#218b7c;
    font-family: arial;
}
#obszar #prawa .box.standardowy .tresc .gracze li img{
	padding-right: 8px;
	width: 20px;
	height: 19px;
}
#obszar #prawa .box.standardowy .tresc .brak_danych{
    color: #9e9e9e;
    font-size: 12px;
    text-align: left;
}

#obszar #prawa .box.standardowy.ekipa_serwera{
    
}
#obszar #prawa .box.standardowy.ekipa_serwera .tresc{
    padding:20px 0 20px 13px;
}
#obszar #prawa .box.standardowy.ekipa_serwera .grupa{
    margin:10px 0 10px 0;
    text-align: right;
}
#obszar #prawa .box.standardowy.ekipa_serwera .grupa:first-of-type{
    margin:0 0 10px 0;
}
#obszar #prawa .box.standardowy.ekipa_serwera .grupa .styl{
    display: inline-block;
    background:#c39f00;
    font-size:10px;
    color:#ffffff;
    text-shadow: 1px 1px 1px #b08f00;
    padding:5px 5px 5px 10px;
    width: 90px;
    text-align: left;
}
#obszar #prawa .box.standardowy.ekipa_serwera .osoba{
    height:35px;
    position: relative;
}
#obszar #prawa .box.standardowy.ekipa_serwera .osoba .nick{
    font-family: arial;
    color:#218b7c ;
    font-size:15px;
    font-weight: bold;
    position: absolute;
    top:0;
    left:40px;
}
#obszar #prawa .box.standardowy.ekipa_serwera .osoba .kontakt_i_status{
    position: absolute;
    top:17px;
    left:40px;
    line-height: 1;
    font-size:12px;
}
#obszar #prawa .box.standardowy.ekipa_serwera .osoba .kontakt_i_status a{
    border:0;
    text-decoration: none;
    width: 15px;
    display: block;
    height:15px;
    float:left;
    margin:0 3px 0 0;
}
#obszar #prawa .box.standardowy.ekipa_serwera .osoba .kontakt_i_status a.gg{
    background: url("./i/gg.png") no-repeat scroll center center rgba(0, 0, 0, 0);
}
#obszar #prawa .box.standardowy.ekipa_serwera .osoba .kontakt_i_status a.skype{
    background: url("./i/skype.png") no-repeat scroll center center rgba(0, 0, 0, 0);
}
#obszar #prawa .box.standardowy.ekipa_serwera .osoba .kontakt_i_status a.email{
    background: url("./i/poczta.png") no-repeat scroll center center rgba(0, 0, 0, 0);
}
#obszar #prawa .box.standardowy.ekipa_serwera .osoba .kontakt_i_status .status{
    display: block;
    font-family: arial;
    padding:2px 0 0 13px;
    float:left;
    height: 15px;
}
#obszar #prawa .box.standardowy.ekipa_serwera .osoba .kontakt_i_status .status.offline{
    color:#ff0000;
    background:url("./i/nie_aktywny.png") no-repeat scroll 0 3px rgba(0, 0, 0, 0);
}
#obszar #prawa .box.standardowy.ekipa_serwera .osoba .kontakt_i_status .status.online{
    color:#61d404;
    background:url("./i/aktywny.png") no-repeat scroll 0 3px rgba(0, 0, 0, 0);
}
#obszar #prawa .box.standardowy.ekipa_serwera .osoba .obrazek{
    position: absolute;
    top:0;
    left:0;
    height:30px;
    width:30px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background:url('./i/minecraft_standardowa_glowa.jpg') no-repeat center center transparent;
}
#obszar #prawa .box.standardowy.ekipa_serwera .osoba .obrazek .obrazek_premium{
    width:30px;
    height:30px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color:#fff;
}


#obszar #prawa .box.standardowy .tresc .ekipa{
	padding: 20px 0 0 12px;
	list-style-type: none;
}

#obszar #prawa .box.standardowy .tresc .ekipa li{
	padding: 0 0 20px 41px;
	display: block;
	font-weight: bold;
	color: #218b7c;
	font-size: 15px;
}

#obszar #prawa .box.standardowy .tresc .ekipa .ikona.ekipa i{
	background: url("./i/gg.png") no-repeat;
	width: 12px;
	height: 13px;
	position: absolute;
	top: 0;
	left: 0;
}

#obszar #prawa .box.standardowy .tresc .ekipa .ikona.ekipa s{
	background: url("./i/skype.png") no-repeat;
	width: 11px;
	height: 11px;
	position: absolute;
	top: 1px;
	left: 14px;
}

#obszar #prawa .box.standardowy .tresc .ekipa .ikona.ekipa u{
	background: url("./i/poczta.png") no-repeat;
	width: 10px;
	height: 8px;
	position: absolute;
	top: 2px;
	left: 29px;
}

#obszar #prawa .box.standardowy .tresc .ekipa .ikona.ekipa b{
	width: 9px;
	height: 9px;
	position: absolute;
	top: 2px;
	left: 44px;
}

#obszar #prawa .box.standardowy .tresc .ekipa .ikona.ekipa font{
	position: absolute;
	top: -3px;
	left: 12px;
	font-weight: normal;
	font-size: 12px;
}
/*glowna*/

#obszar #lewa #tresc .wiadomosc{
	padding: 17px 0 26px 0;
	border-bottom: 1px dashed #b7b7b7;
    position: relative;
}
#obszar #lewa #tresc .wiadomosc:last-of-type{
	border-bottom: 0px #fff;
}
#obszar #lewa #tresc .wiadomosc .ikona_tytul_dodano{
    display: table;
}
#obszar #lewa #tresc .wiadomosc .ikona_tytul_dodano .wiersz{
    display: table-row;
}
#obszar #lewa #tresc .wiadomosc .ikona_tytul_dodano .wiersz .komorka{
    display: table-cell;
}
#obszar #lewa #tresc .wiadomosc .ikona_tytul_dodano .wiersz .komorka.nazwa_wiadomosci{
	color: #8aa734;
	font-size: 35px;
    text-decoration: none;
    background-repeat: no-repeat;
    background-position: center left;
    vertical-align: middle;
    line-height: 1;
    word-break: break-all;
    /*background-size: 60px auto;*/
}
#obszar #lewa #tresc .wiadomosc .ikona_tytul_dodano .wiersz .komorka.nazwa_wiadomosci:hover{
    color: #ecb402;
}
#obszar #lewa #tresc .wiadomosc .ikona_tytul_dodano .wiersz .komorka.nazwa_wiadomosci .data_wiadomosci{
	color: #bfbfbf;
	font-size: 12px;
    margin:5px 0 0 0;
}
#obszar #lewa #tresc .wiadomosc .ikona_tytul_dodano .wiersz .komorka.ikona{
    padding:20px 20px 20px 10px;
    text-align: center;
    vertical-align: middle;
}

#obszar #lewa #tresc .wiadomosc .tresc_wiadomosci{
	font-size: 15px;
    word-break: break-all;
}

/*mapa*/
#mapa{
	background: #fff;
	padding: 16px 17px 13px 12px;
}

#mapa iframe{
	width: 622px;
	height: 454px;
	border: 1px solid #00c2ba;
}


/*galeria*/
#galeria{
	background: #fff;
	padding: 15px;
}
#galeria .zdjecie{
    display: block;
    float:left;
    width:155px;
    margin: 0 0px 0px 0;
    text-align: center;
    height:105px;
}
#galeria img{
	border: 1px solid #00c2ba;
}

/*sklep*/
#sklep{
	padding: 15px;
	background: #fff;
    overflow: auto;
}
#sklep .grupa{
    position: relative;
    left:-15px;
    text-align: left;
}
#sklep .grupa .styl{
    font-size:15px;
    color:#fff;
    background: #c39f00;
    text-shadow: 1px 1px 1px #b08f00;
    text-align: left;
    display: inline-block;
    padding: 5px 10px 5px 15px;
}

#sklep .przedmiot{
	height: 36px;
	margin-bottom: 15px;
	border-bottom: 1px dashed #b7b7b7;
    position: relative;
}

#sklep .przedmiot .przedmiot_obraz{
	background: url("./i/luk.png") no-repeat;
	height: 26px;
	width: 26px;
	position: absolute;
	margin-top: 2px;
	margin-left: 6px;
}

#sklep .przedmiot .przedmiot_nazwa{
	font-size: 14px;
	color: #8aa734;
	position: absolute;
	margin-top: 12px;
	margin-left: 11px;
}

#sklep .przedmiot .kup_przedmiot{
	position: absolute;
    top:0;
    right:0;
}

#sklep .przedmiot .kup_przedmiot a{
	text-decoration: none;
}

/*Formularz zakupu*/

#kupno{
	padding: 15px;
	background: #fff;
}
#kupno .kupno_lewo{
	width: 306px;
	float:left;
}
#kupno .kupno_lewo.v2{
    
}
#kupno .kupno_lewo.v2 label{
    display: block;
    text-align: center;
    color: #4c4c4c;
    font-size: 12px;
    margin: 0 0 7px 0;
}
#kupno .kupno_lewo.v2 p{
    text-align: center;
    color: #4c4c4c;
    font-size: 12px;
}
#kupno .kupno_lewo.v2 input[type="text"]:first-of-type{
    text-transform: none;
}
#kupno .kupno_lewo.v2 input[type="text"]{
	background: #ebebeb;
	height: 35px;
	width: 300px;
	border: 1px solid #d7d7d7;
	text-align: center;
	font-size: 12px;
	color: #4c4c4c;
	margin-top: 9px;
	font-weight: bold;
    margin: 0 0 15px 0;
}
#kupno .kupno_lewo.v2 input[type="submit"]{
    background: url("./i/kup_przedmiot.png") no-repeat scroll 0 0 transparent;
    border: 0 none;
    color: #000;
    display: inline-block;
    font-family: arial;
    font-size: 12px;
    height: 24px;
    margin: 10px 0 0;
    padding: 0 0 0 22px;
    text-align: left;
    width: 110px;
    cursor: pointer;
}
#kupno .kupno_lewo.v2 .submit{
    text-align: right;
}
#kupno .kupno_lewo.v2 .submit_i_akceptacja{
    margin:0 0 15px 0;
    text-align: right;
    position: relative;
}
#kupno .kupno_lewo.v2 .submit_i_akceptacja .akceptacja{
    position: absolute;
    top:0;
    left:0;
    font-size:12px;
}
#kupno .kupno_lewo.v2 .submit_i_akceptacja .akceptacja a{
    color:#007d78;
}
#kupno .kupno_lewo.v2 .sms_wyslij{
	font-size: 15px;
	color: #4c4c4c;
	padding-bottom: 6px;
    text-align: center;
}
#kupno .kupno_lewo.v2 .sms_gdzie{
	font-size: 21px;
	color: #00a39b;
	font-weight: bold;
    text-align: center;
}
#kupno .kupno_lewo.v2 .sms_koszt{
	font-size: 11px;
	color: #464646;
	padding-top: 16px;
    text-align: center;
}




#kupno .kupno_lewo .sms{
	text-align: center;
}
#kupno .kupno_lewo .sms .submit_i_akceptacja{
    margin:15px 0 0 0;
    text-align: right;
    position: relative;
}
#kupno .kupno_lewo .sms .submit_i_akceptacja .akceptacja{
    position: absolute;
    top:0;
    left:0;
    font-size:12px;
}
#kupno .kupno_lewo .sms .submit_i_akceptacja .akceptacja a{
    color:#007d78;
}
 
#kupno .kupno_lewo .sms .sms_wyslij{
	font-size: 15px;
	color: #4c4c4c;
	padding-bottom: 6px;
}

#kupno .kupno_lewo .sms .sms_gdzie{
	font-size: 21px;
	color: #00a39b;
	font-weight: bold;
}

#kupno .kupno_lewo .sms .sms_koszt{
	font-size: 11px;
	color: #464646;
	padding-top: 16px;
}

#kupno .kupno_lewo .sms .nick, #kupno .kupno_lewo .sms .kod{
	padding-top: 38px;
	font-size: 12px;
	color: #4c4c4c;
}

#kupno .kupno_lewo .sms .nick input{
	background: #ebebeb;
	height: 35px;
	width: 300px;
	border: 1px solid #d7d7d7;
	text-align: center;
	font-size: 12px;
	color: #4c4c4c;
	margin-top: 9px;
}

#kupno .kupno_lewo .sms .kod input[type="text"]{
	background: #ebebeb;
	height: 35px;
	width: 300px;
	border: 1px solid #d7d7d7;
	text-align: center;
	font-size: 12px;
	color: #4c4c4c;
	margin-top: 9px;
	font-weight: bold;
    text-transform: uppercase;
}

#kupno .kupno_lewo .sms .kod{
	padding-top: 17px;
}

#kupno .kupno_lewo .sms .przycisk{
    background: url("./i/kup_przedmiot.png") no-repeat scroll 0 0 transparent;
    border: 0 none;
    color: #000;
    display: inline-block;
    font-family: arial;
    font-size: 12px;
    height: 24px;
    margin: 10px 0 0;
    padding: 0 0 0 22px;
    text-align: left;
    width: 110px;
    cursor: pointer;
}

#kupno .kupno_lewo .sms .przycisk{
	text-decoration: none;
}

#kupno .kupno_prawo{
	text-align: center;
	width: 279px;
	float: right;
	position: relative;
}

#kupno .kupno_prawo .metody{
	font-size: 15px;
	color: #4c4c4c;
	font-weight: bold;
}

#kupno .kupno_prawo .tytul{
    color: #4c4c4c;
    font-size: 15px;
    margin: 0 0 5px;
}
#kupno .kupno_prawo .tresc{
    color: #9e9e9e;
    font-size: 12px;
    text-align: left;
    margin:0 0 15px 0;
}
#kupno .kupno_prawo #metoda_platnosci{
    
}
#kupno .naglowek{
    color: #4c4c4c;
    font-size: 15px;
    font-family: AleoBold;
    margin: 0 0 15px 0;
    text-align: center;
}
#kupno .kupno_prawo #metoda_platnosci .wybor_metody{
    margin: 0 0 15px 0;
    padding: 0 0 20px 0;
    border-bottom: 1px dashed #b7b7b7;
}
#kupno .kupno_prawo #metoda_platnosci .wybor_metody .metoda{
	background-color: #dfdfdf;
	border: 1px solid #fff;
	height: 61px;
	width: 86px;
	-webkit-box-shadow: 0px 0px 0px 1px rgba(0, 208, 201, 1);
	-moz-box-shadow:    0px 0px 0px 1px rgba(0, 208, 201, 1);
	box-shadow:         0px 0px 0px 1px rgba(0, 208, 201, 1);
    display: block;
    float: left;
    margin: 0 0 5px 5px;
    background-repeat: no-repeat;
    background-position: center center;
}
#kupno .kupno_prawo #metoda_platnosci .wybor_metody .metoda.sms{
    background-image: url('./i/metoda_sms.png');
}
#kupno .kupno_prawo #metoda_platnosci .wybor_metody .metoda.paypal{
    background-image: url('./i/metoda_paypal.png');
}
#kupno .kupno_prawo #metoda_platnosci .wybor_metody .metoda.paysafecard{
    background-image: url('./i/metoda_paysafecard.png');
}
#kupno .kupno_prawo #metoda_platnosci .wybor_metody .metoda.przelew{
    background-image: url('./i/metoda_przelew.png');
}
#kupno .kupno_prawo #metoda_platnosci .wybor_metody .metoda.voucher{
    background-image: url('./i/metoda_voucher.png');
}
#kupno .kupno_prawo #metoda_platnosci .wybor_metody .metoda:nth-child(3n){
    margin-right: 0;
}
#kupno .kupno_prawo #metoda_platnosci .wybor_metody .metoda:hover, #kupno .kupno_prawo #metoda_platnosci .wybor_metody .metoda.aktywna{
	background-color: #00d0c9;
}

#kupno .kupno_prawo .opis_przedmiotu{
	font-size: 15px;
	color: #4c4c4c;
    margin:0 0 9px 0;
}

#kupno .kupno_prawo .obraz_przedmiotu_ramka{
	height: 61px;
	width: 62px;
	border: 1px solid #dfdfdf;
	margin: 20px auto;
}

#kupno .kupno_prawo .obraz_przedmiotu{
	height: 57px;
	width: 58px;
	border: 1px solid #dfdfdf;
	position: relative;
	top:1px;
	left: 1px;
}

#kupno .kupno_prawo .nazwa_przedmiotu{
	font-size: 12px;
	color: #00a39b;
	font-weight: bold;
}

#kupno .kupno_prawo .text_przedmiotu{
	font-size: 12px;
	color: #9e9e9e;
	padding-top: 10px;
	text-align: left;
}

#kupno .zakup_udany{
	background: #63c420;
	position:relative;
	margin:0px 15px 20px 15px;
}

#kupno .zakup_udany_tekst{
	color: #fff;
	font-size: 15px;
	font-weight: bold;
    padding: 15px 90px 15px 15px;
}

#kupno .zakup_nie_udany{
	background: #c42020;
	position:relative;
    margin:0px 15px 20px 0px;
}

#kupno .zakup_nie_udany_tekst{
	color: #fff;
	font-size: 15px;
	font-weight: bold;
    padding: 15px 90px 15px 15px;
}

#kupno .zakup_nie_udany i{
	background: url("./i/zakup_nie_udany.png") no-repeat;
	height: 70px;
	width: 72px;
	position: absolute;
	bottom: 0;
	right: -27px;
}

#kupno .zakup_udany i{
	background: url("./i/zakup_udany.png") no-repeat;
	height: 71px;
	width: 107px;
	position: absolute;
	bottom: 0;
	right: -27px;
}

/*Regulamin*/

#obszar #lewa #regulamin{
	padding: 35px 15px;
	background: #fff;
}
#obszar #lewa #regulamin .tresc_wiadomosci{
    word-break: break-all;
}
#obszar #lewa #regulamin .tresc_wiadomosci ul{
    padding: 0 0 0 15px;
}
#obszar #lewa #regulamin .tresc_wiadomosci ol{
    padding: 0 0 0 15px;
}
#obszar #lewa #regulamin .tresc_wiadomosci a{
    color: #8aa734;
}
#obszar #lewa #regulamin .tresc_wiadomosci a:hover{
    text-decoration: underline;
    color: #ecb402;
}

/* przyciski */
.b_styl_1_a{
    background: url("./i/b_styl_1_tlo.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
    color: #000;
    font-size: 12px;
    padding: 5px 10px 5px 21px;
    text-decoration: none;
    display: inline-block;
    word-break: keep-all;
    border:1px solid #848484;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    line-height: 1;
    -moz-box-shadow: inset 1px 1px 0px 1px rgba(255, 255, 255, 0.4), inset -1px -1px 0px 1px rgba(255, 255, 255, 0.4);
    -webkit-box-shadow: inset 1px 1px 0px 1px rgba(255, 255, 255, 0.4, inset -1px -1px 0px 1px rgba(255, 255, 255, 0.4));
    box-shadow: inset 1px 1px 0px 1px rgba(255, 255, 255, 0.4), inset -1px -1px 0px 1px rgba(255, 255, 255, 0.4);
}
.b_styl_1_a .ikona{
    background: url("./i/b_przycisk_pieniadz.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    height: 18px;
    left: 3px;
    position: absolute;
    top: 2px;
    width: 14px;
}
.b_styl_1_input{
    background: url("./i/b_styl_1_tlo.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
    color: #000;
    font-size: 12px;
    padding: 4px 10px 4px 21px;
    text-decoration: none;
    display: inline-block;
    word-break: keep-all;
    border:1px solid #848484;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    line-height: 1;
    -moz-box-shadow: inset 1px 1px 0px 1px rgba(255, 255, 255, 0.4), inset -1px -1px 0px 1px rgba(255, 255, 255, 0.4);
    -webkit-box-shadow: inset 1px 1px 0px 1px rgba(255, 255, 255, 0.4, inset -1px -1px 0px 1px rgba(255, 255, 255, 0.4));
    box-shadow: inset 1px 1px 0px 1px rgba(255, 255, 255, 0.4), inset -1px -1px 0px 1px rgba(255, 255, 255, 0.4);
    position: relative;
    cursor: pointer;
}
.b_styl_1_input .ikona{
    background: url("./i/b_przycisk_pieniadz.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    height: 18px;
    left: 3px;
    position: absolute;
    top: 2px;
    width: 14px;
}
.uwaga_hard{
    background-color:#fa5b5e;
    color:#fff;
    font-size:12px;
    text-align: justify;
    padding:15px;
    margin:15px 0 0 0;
}
#komunikat{
    text-align: center;
    margin:35px;
}
#komunikat .tytul{
    font-size:40px;
}
#komunikat .tresc{
    font-size:25px;
}
#komunikat_glowny{
    margin:90px auto 0;
    padding:80px 340px 50px 40px;
    background:#fff;
    -webkit-box-shadow: 3px 4px 7px 0px rgba(50, 50, 50, 1);
	-moz-box-shadow:    3px 4px 7px 0px rgba(50, 50, 50, 1);
	box-shadow:         3px 4px 7px 0px rgba(50, 50, 50, 1);
    position: relative;
    width:380px;
}
#komunikat_glowny .tytul{
    font-size:38px;
    font-weight: bold;
    color:#159a9b;
    margin:0 0 20px 0;
}
#komunikat_glowny .tresc{
    font-size:15px;
    color:#9a9a9a;
}
#komunikat_glowny .postac{
    position: absolute;
    bottom:0;
    right:15px;
    background: url("./i/komunikat_glowny_postac.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    width:309px;
    height:326px;
}
.wiadomosc{
    font-size: 12px;
    padding: 15px;
}
.wiadomosc ul{
    margin: 10px 0;
    padding: 0 0 0 15px;
}
.wiadomosc ul li{
}
.wiadomosc a{
    color: inherit;
}
.wiadomosc.info{
    background: #d9edf7 none repeat scroll 0 0;
    border: 1px solid #bce8f1;
    color: #3a87ad;
}
/* wyskakujacy komunikat */

#komunikat_wys{
    position: fixed;
    top:0;
    left:0;
    background: rgba(0,0,0, 0.8);
    width: 100%;
    display: table;
    z-index:100;
    
}
#komunikat_wys.ok .obszar .okno .tytul{
    background:#99c03c;
}
#komunikat_wys.error .obszar .okno .tytul{
    background:#b52c28;
}
#komunikat_wys.info .obszar .okno .tytul{
    background:#3d608b;
}
#komunikat_wys .obszar{
    width: 100%;
    display: table-cell;
    vertical-align: middle;
}
#komunikat_wys .obszar .okno{
    background:#fff;
    width:446px;
    margin:0 auto;
    padding:15px 0 15px 0;
    -webkit-box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow:    0px 0px 50px 0px rgba(0, 0, 0, 0.75);
    box-shadow:         0px 0px 50px 0px rgba(0, 0, 0, 0.75);
}
#komunikat_wys .obszar .okno .tytul{
    font-family:'Bree Serif',serif;
    color:#fff;
    font-size:25px;
    padding:15px 0 15px 25px;
}
#komunikat_wys .obszar .okno .tresc{
    font-size:12px;
    padding:15px 25px 0 25px;
    text-align: left;
}
#komunikat_wys .obszar .okno .przyciski{
    text-align:center;
    padding:25px 0 10px 0;
}
#komunikat_wys .obszar .okno .przyciski a{
    line-height: 36px;
}
/*przyciski*/
.b_zielony_url_max{
	background: url("./i/b_zielony.png") repeat scroll 0 0 transparent;
	color: #647e38;
	font-family: 'Droid Sans',sans-serif;
	font-weight: 700;
	font-size:14px;
	padding: 9px 20px 8px;
	text-shadow:0 1px 0px #c3de94;
	border:0;
	cursor:pointer;
	text-decoration: none;
	
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	
	display:inline;
	
	border-left:1px solid #89ac4e;
	border-top: 1px solid #9dba5b;
	border-bottom: 1px solid #779f40;
	border-right: 1px solid #90b053;
	opacity:1;
	transition:opacity 0.2s linear;
	
}
.b_zielony_url_max:hover{
	text-decoration: none;
	opacity:0.9;
	transition:opacity 0.2s linear;
}
.b_zielony_submit_max{
	background: url("./i/b_zielony.png") repeat scroll 0 0 transparent;
	color: #647e38;
	font-family: 'Droid Sans',sans-serif;
	font-weight: 700;
	font-size:14px!important;
	padding: 8px 20px 5.5px;
	text-shadow:0 1px 0px #c3de94;
	border:0;

	cursor:pointer;
	text-decoration: none;
	
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	
	display:inline;
	
	border-left:1px solid #89ac4e;
	border-top: 1px solid #9dba5b;
	border-bottom: 1px solid #779f40;
	border-right: 1px solid #90b053;
	opacity:1;
	transition:opacity 0.2s linear;
	margin:0;
}
.b_zielony_submit_max:hover{
	text-decoration: none;
	opacity:0.9;
	transition:opacity 0.2s linear;
}

.b_zielony_url_maly{
	background: url("./i/b_zielony.png") repeat scroll 0 0 transparent;
	color: #647e38;
	font-family: 'Droid Sans',sans-serif;
	font-weight: bold;
	font-size:12px;
	padding: 6px 20px;
	text-shadow:0 1px 0px #c3de94;
	height:14px;
	cursor:pointer;
	text-decoration: none;
	
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	
	display:inline;
	
	border-left:1px solid #89ac4e;
	border-top: 1px solid #9dba5b;
	border-bottom: 1px solid #779f40;
	border-right: 1px solid #90b053;
	opacity:1;
	transition:opacity 0.2s linear;
	margin:0;
	
	line-height:16px;
}
.b_zielony_url_maly:hover{
	text-decoration: none;
	opacity:0.9;
	transition:opacity 0.2s linear;
}
.b_zielony_url_mini{
	background: url("./i/b_zielony.png") repeat scroll 0 0 transparent;
	color: #647e38;
	font-family: 'Droid Sans',sans-serif;
	font-weight: bold;
	font-size:9px;
	padding: 3px 8px;
	text-shadow:0 1px 0px #c3de94;
	height:14px;
	cursor:pointer;
	text-decoration: none;
	
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	
	display:inline;
	
	border-left:1px solid #89ac4e;
	border-top: 1px solid #9dba5b;
	border-bottom: 1px solid #779f40;
	border-right: 1px solid #90b053;
	opacity:1;
	transition:opacity 0.2s linear;
	margin:0;
	
	line-height:16px;
}
.b_zielony_url_mini:hover{
	text-decoration: none;
	opacity:0.9;
	transition:opacity 0.2s linear;
}
.b_zielony_submit_maly{
	background: url("./i/b_zielony.png") repeat scroll 0 0 transparent;
	color: #647e38;
	font-family: 'Droid Sans',sans-serif;
	font-weight: bold;
	font-size:12px;
	padding: 5px 20px;
	text-shadow:0 1px 0px #c3de94;
	cursor:pointer;
	text-decoration: none;
	
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	
	display:inline;
	
	border-left:1px solid #89ac4e;
	border-top: 1px solid #9dba5b;
	border-bottom: 1px solid #779f40;
	border-right: 1px solid #90b053;
	opacity:1;
	transition:opacity 0.2s linear;
	margin:0;
}
.b_zielony_submit_maly:hover{
	text-decoration: none;
	opacity:0.9;
	transition:opacity 0.2s linear;
}

.b_zolty_url_maly{
	background: url("./i/b_zolty.png") repeat scroll 0 0 transparent;
	color: #8e752a;
	font-family: 'Droid Sans',sans-serif;
	font-weight: bold;
	font-size:12px;
	padding: 6px 20px;
	text-shadow:0 1px 0px #d4caac;
	height:14px;
	cursor:pointer;
	text-decoration: none;
	position:relative;
	top:0px;
	
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	
	display:inline;
	
	border-left:1px solid #99833f;
	border-top: 1px solid #99833f;
	border-bottom: 1px solid #99833f;
	border-right: 1px solid #99833f;
	opacity:1;
	transition:opacity 0.2s linear;
	margin:0;
	
	line-height:16px;
}
.b_zolty_url_maly:hover{
	text-decoration: none;
	opacity:0.9;
	transition:opacity 0.2s linear;
}
.b_zolty_submit_maly{
	background: url("./i/b_zolty.png") repeat scroll 0 0 transparent;
	color: #8e752a;
	font-family: 'Droid Sans',sans-serif;
	font-weight: bold;
	font-size:12px;
	padding: 5px 20px;
	text-shadow:0 1px 0px #d4caac;
	height:26px;
	cursor:pointer;
	text-decoration: none;
	
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	
	display:inline;
	
	border:1px solid #99833f;

	opacity:1;
	transition:opacity 0.2s linear;
	margin:0;
}
.b_zolty_submit_maly:hover{
	text-decoration: none;
	opacity:0.9;
	transition:opacity 0.2s linear;
}
.b_czerwony_submit_maly{
	background: url("./i/b_czerwony.png") repeat scroll 0 0 transparent;
	color:#690000;
	font-family: 'Droid Sans',sans-serif;
	font-weight: bold;
	font-size:12px;
	padding: 5px 20px;
	text-shadow:0 1px 1px #D18888;
	height:26px;
	cursor:pointer;
	text-decoration: none;
	
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	
	display:inline;
	
	border:1px solid #9e2d2d;

	opacity:1;
	transition:opacity 0.2s linear;
	margin:0;
}
.b_czerwony_submit_maly:hover{
	text-decoration: none;
	opacity:0.9;
	transition:opacity 0.2s linear;
}
.b_czerwony_url_maly{
	background: url("./i/b_czerwony.png") repeat scroll 0 0 transparent;
	color:#690000;
	font-family: 'Droid Sans',sans-serif;
	font-weight: bold;
	font-size:12px;
	padding: 6px 20px;
	text-shadow:0 1px 0px #D18888;
	height:14px;
	cursor:pointer;
	text-decoration: none;
		
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	
	display:inline;
	
	
	border:1px solid #9e2d2d;

	opacity:1;
	transition:opacity 0.2s linear;
	margin:0;
	line-height:16px;
}
.b_czerwony_url_maly:hover{
	text-decoration: none;
	opacity:0.9;
	transition:opacity 0.2s linear;
}
.b_czerwony_url_max{
	background: url("./i/b_czerwony.png") repeat scroll 0 0 transparent;
	color: #690000;
	font-family: 'Droid Sans',sans-serif;
	font-weight: 700;
	font-size:14px;
	padding: 9px 20px 6.5px;
	text-shadow:0 1px 0px #D18888;
	border:0;
	cursor:pointer;
	text-decoration: none;
	
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	
	display:inline;
	
	border-left:1px solid #a24343;
	border-top: 1px solid #c06464;
	border-bottom: 1px solid #9c3e3e;
	border-right: 1px solid #a14242;
	opacity:1;
	transition:opacity 0.2s linear;
}
.b_czerwony_url_max:hover{
	text-decoration: none;
	opacity:0.9;
	transition:opacity 0.2s linear;
}
#reklama_hap{
    display: block;
    background: url('./i/reklama_hap.jpg') no-repeat 0 0 transparent;
    width: 728px;
    height: 90px;
    margin: 24px auto 0;
}
